:root {
    --color-black: #000000;
    --color-red: #E93E30;
    --color-yellow: #F7E018;
    --color-blue: #299ED5;
    --color-dark-gray: #292C33;
    --color-green: #67C770;
    --color-purple: #563D7C;
  }


/*  */


body{
    font-family: "Poppins", sans-serif;
}

.titlesection{

    font-weight: 700 ;
    font-size: 30px;
    margin-bottom: 50px;
}
    
    
    

/* #######################################################3 */

.carta-vertical{
display: flex;
flex-direction: column;
margin-bottom: 50px;
}

.carta-vertical__imagen{
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: center ;
    margin-bottom: 20px;
}

.carta-vertical__footer{

    display: flex;
    
    align-items: center;
    
    &>img{
        height: 60px;
        margin-right: 10px;
    }

    &>h3{
        font-weight: 500;
    }
}

.carta-vertical__titulo{
    font-size: 24;
    font-weight: 700;
    min-height: 70px;
}
.carta-vertical__subtitulo{
    font-size: 18;
    font-weight: 400;
}

.carta-vertical__imagen--post{
    height: 200px;
}

/* ############################################################################################## */
/* ############################################################################################## */
/* ############################################################################################## */
/* ############################################################################################## */

.carta-horizontal{
    display: flex;
    padding: 0 0 20px 0;
}

.carta-horizontal__imagen{
    height: 150px;
    width: 200px;
    margin: 0px 20px;
    border-radius: 20px;
    object-fit: cover;
    object-position: center ;
}

.carta-horizontal__titulo{
    font-size: 20px;
    font-weight: 700;
}
.carta-horizontal__subtitulo{
    font-size: 16px;
    font-weight: 400;
}

.carta-horizontal__footer{

    display: flex;

    align-items: center;

    &>img{
        width: 40px;
        margin-right: 10px;

       
    }

    &>h3{
        font-size: 15px;
    }
}


/* ############################################################################################# */
/* ############################################################################################# */
/* ############################################################################################# */
/* ############################################################################################# */


.carta-categoria{
display: flex;
justify-content:space-between;
align-items: center;
border-radius: 30px;
padding: 20px;
margin-bottom: 10px;
}

.carta-categoria--js{
    background-color: var(--color-yellow);
}

.carta-categoria--vue{
    background-color: var(--color-green);
}

.carta-categoria--html{
    background-color: var(--color-red);
}

.carta-categoria--react{
    background-color: var(--color-dark-gray);
}

.carta-categoria--css{
    background-color: var(--color-blue);
}

.carta-categoria--bootstrap{
    background-color: var(--color-purple);
}



.carta-categoria__imagen{
    height: 100px;
}
.carta-categoria__titulo{
    color: white;
    font-size: 45px;
    font-weight: bold;
    height: 100%;
    width: 100%;
    margin-right: 20px;
    text-align: right;
}




/* ################################################################################################################ */
/* ################################################################################################################ */
/* ################################################################################################################ */

.brandzone{

    display: flex;
    align-items: center;
    padding: 30px 0;
}

.brandzone__titulo{

    size: 24;
    font-weight: 700;
    text-align: left;
    
}
.brandzone__subtitulo{
    size: 20;
    font-weight: 400;
    text-align: right;
   flex-grow: 1;
}

.brandzone__imagen{
    height: 55px;
    margin-right: 20px;
}

