:root {
    --color-black: #000000;
    --color-red: #E93E30;
    --color-yellow: #F7E018;
    --color-blue: #299ED5;
    --color-dark-gray: #292C33;
    --color-green: #67C770;
    --color-purple: #563D7C;
  }


/*  */

.carta-vertical{
margin: 20px 0;
}

.carta-vertical__imagen{
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: center ;
}

.carta-vertical__footer{

    display: flex;

    align-items: center;

    &>img{
        width: 60px;
        margin-right: 10px;
    }
}

.carta-vertical__titulo{
    font-size: 20;
    font-weight: bold;
}
.carta-vertical__subtitulo{
    font-size: 16;
    font-weight: lighter;
}



/* ############################################################################################## */
/* ############################################################################################## */
/* ############################################################################################## */
/* ############################################################################################## */

.carta-horizontal{
    display: flex;
    padding: 0 0 20px 0;
}

.carta-horizontal__imagen{
    width: 200px;
    height: auto;
    margin: 0px 20px;
    border-radius: 20px;
    object-fit: cover;
    object-position: center ;
}

.carta-horizontal__titulo{
    font-size: 20px;
    font-weight: bold;
}
.carta-horizontal__subtitulo{
    font-size: 16px;
    font-weight: lighter;
}

.carta-horizontal__footer{

    display: flex;

    align-items: center;

    &>img{
        width: 60px;
        margin-right: 10px;

       
    }
}


/* ############################################################################################# */
/* ############################################################################################# */
/* ############################################################################################# */
/* ############################################################################################# */


.carta-categoria{
display: flex;
justify-content:space-between;
align-items: center;
border-radius: 50px;
padding: 20px;
margin-bottom: 10px;
}

.carta-categoria--js{
    background-color: var(--color-yellow);
}

.carta-categoria--vue{
    background-color: var(--color-green);
}

.carta-categoria--html{
    background-color: var(--color-red);
}

.carta-categoria--react{
    background-color: var(--color-dark-gray);
}

.carta-categoria--css{
    background-color: var(--color-blue);
}

.carta-categoria--bootstrap{
    background-color: var(--color-purple);
}



.carta-categoria__imagen{
    height: 100px;
}
.carta-categoria__titulo{
    color: white;
    font-size: 60px;
    font-weight: bold;
    height: 100%;
    width: 100%;
    margin-right: 20px;
    text-align: right;
}